# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtuell miljö
.venv/

# Miljövariabler
.env

# Databas
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
frontend/dist/

# ML / data
*.joblib
*.pkl

# Övrigt
*.log
